<html>
<head>
<title>Python Projet IA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Test images a une mask ou non mask par Models Sequentiels</h1></p>
<div class="container">
<div class="row">
    <h2>Select une fichier pour Test</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
  
        {% for filename ,data,p1,p2 in (RESULTAT)  %}
                <div>
                    <img src="{{ url_for('display_image', filename=filename) }}">
                  
                    {% if data == 1 %}
                              
                                    
                                   <h4 class="text-primary" > {{p2*100}} % porte une masque </h4>  
                                <!-- <img src=''>   -->
                            
                    {% elif data == 0 %}
                                  <h4 class="text-danger" style="color: red;"> {{p1*100 }}% il ne porte pas une masque </h4>
                                <!-- <img src=''> -->
                    {% endif%}
                                
                </div>       
        {% endfor %}
        

        

  

    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="files[]" multiple="true" autocomplete="off" class="form-control" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Models Sequentiels Test" class="btn btn-info">
        </p>
    </form><br>
    <div>
        <h1 class="btn btn-info" > Models Sequentiels </h1> <br>
       
             
    <div>
    <!--  <div>
            <h1 class="btn btn-info" > Models Fonctional </h1> 
    
                    {% if data2 == 1 %}
                        <h1 class="btn btn-info" > c'est bien il porte une masque </h1>  
                       <img src=''> 
                    
                    {% else %}
                        <h1 class="btn btn-info"  style="color: red;"> c'est grave il ne porte pas une masque </h1>
                        <img src=''> 
                        
                    {% endif %}
    <div>
          -->

        <form method="post" action="{{url_for('functional')}}" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="files[]" multiple="true" autocomplete="off" class="form-control" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Fonctional Test" class="btn btn-info">
            </p>
        </form><br>



</div>
</div>
</body>
</html>